.as-border-none {
    border: none;
}

.as-border-ascella-blue {
    border-color: var(--color-ascella-blue);
}

.as-border-grey-300 {
    border-color: var(--color-grey-300);
}

.as-border-error {
    border-color: var(--color-error);
}

.as-border-error-hover {
    border-color: var(--color-error-hover);
}

.as-border-solid {
    border-style: solid;
}

.as-border-1 {
    border-width: 1px;
}

.as-border-2 {
    border-width: 2px;
}