.as-bg-ascella-blue {
  background: var(--color-ascella-blue);
}

.hover\:as-bg-accent-cyan:hover {
  background: var(--color-accent-cyan);
}

.as-bg-white {
  background: var(--color-grey-100);
}

.hover\:as-bg-white:hover {
  background: var(--color-grey-100);
}

.as-bg-grey-200 {
  background: var(--color-grey-200);
}

.hover\:as-bg-grey-200:hover {
  background: var(--color-grey-200);
}

.as-bg-grey-300 {
  background: var(--color-grey-300);
}

.hover\:as-bg-grey-300:hover {
  background: var(--color-grey-300);
}

.as-bg-grey-500 {
  background: var(--color-grey-500);
}

.hover\:as-bg-grey-500:hover {
  background: var(--color-grey-500);
}

.as-bg-success {
  background: var(--color-success);
}

.as-bg-warning {
  background: var(--color-warning);
}
