.as-d-flex {
  display: flex;
}

.as-flex-direction-column {
  flex-direction: column;
}

.as-align-items-center {
  align-items: center;
}

.as-justify-content-center {
  justify-content: center;
}

.as-justify-content-space-between {
  justify-content: space-between;
}
