.as-text-ascella-blue {
    color: var(--color-ascella-blue);
}

.as-text-white {
    color: var(--color-grey-100);
}

.as-text-grey-700 {
    color: var(--color-grey-700);
}

.as-text-grey-900 {
    color: var(--color-grey-900);
}

.text-base {
    font-size: 16px;
}

.text-3xl {
    font-size: 30px;
}

.text-4xl {
    font-size: 36px;
}

.as-text-center {
    text-align: center;
}
