.ascella-header {
    grid-area: header;
    height: 62px;

    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid #e2e8f0;

    h1 {
        font-size: 1.5rem;
        color: #1a202c;
    }

    .user-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
