.as-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: var(--color-ascella-blue);
  border-radius: 50%;
  width: 28px;
  height: 28px;

  &:hover {
    background: var(--color-accent-cyan);
  }
}
