.as-text-primary-accent {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-ascella-blue);
}

.as-text-body {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-grey-900);
}

.as-text-body-strong {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-grey-900);
}